.btn-primary
{
    font-size:20px;
}

.cls_img_carrito
{
    width: 100%;
}
#label_total_pagar
{
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
}
#label_precio
{
    text-align: left;
    font-size:12px;
}


#bolsa_compras_movil
{
    display: block;
}
#bolsa_compras_pc
{
    display: none;
}

#div_msj_aviso
{
    width: 90%;
    position: fixed;
    left: 5%;
    top:10%;
    z-index: 101;
    background-color: white;
    padding: 10px;
}

@media (min-width: 768px) {
    
    #bolsa_compras_pc
    {
        display: none;
    }
}