<div class="container">
        <div class="row">
                <form  [formGroup]="cliente" class="form-horizontal" >
                <div class="col-xs-12">
                    <div>
                        <h1  class="page-header">Informacion de Envio</h1>
                    </div>
                
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <label>Nombre (s).</label>
                            <input id="nombre" [className]="cls_nombre"  formControlName="nombre" name="nombre">
        
                            <div class="row">
                                <div
                                class="col-xs-12 error"
                                  *ngIf="show_error_nombre">
                                  <a>Nombre requerido</a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12 col-sm-4">
                            <label>Apellido Paterno</label>
                            <input id="apellido_p" [className]="cls_apellido_p"  type="text" formControlName="apellido_p" name="apellido_p">
        
                            <div class="row">
                                <div
                                        class="col-xs-12 error"
                                      *ngIf="show_error_apellido_p">
                                      <a>El apellido paterno es requerido</a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12 col-sm-4">
                            <label>Apellido Materno</label>
                            <input id="apellido_m" class="form-control"  type="text" formControlName="apellido_m" name="apellido_m">
                        </div>
        
        
        
        
                        <div class="col-xs-12 col-sm-4">
                            <label>Telefono</label>
                            <input  [className]="cls_telefono" type="text"  formControlName="telefono" name="telefono">
                            <div class="row">
                                <div
                                    class="col-xs-12 error"
                                  *ngIf="show_error_telefono">
                                  <a>El telefono es requerido</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label>RFC</label>
                            <input class="form-control" type="text"  formControlName="rfc" name="rfc">
                            <div class="row">
                                <div class="col-xs-12">
                                          <a>Obligatorio en caso de requrir factura</a>
                              </div>
                            </div>
                        </div>
        
        
                    </div>
                </div>
        
        
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                                <h1 class="page-header">Direccion de Envio</h1>
                        </div>
                    </div>
                    <div class="row">
        
                    <div class="col-xs-12 ">
                        <label>Calle</label>
                        <input id="calle" [className]="cls_calle" type="text" formControlName="calle" name="calle">
        
                            <div class="row">
                            <div
                                class="col-xs-12 error"
                              *ngIf="show_error_calle">
                              <a>La calle es requerida</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label>Numero Exterior</label>
                        <input type="text" name="numero_exterior" [className]="cls_no_ext" formControlName="numero_exterior">
                        <div class="row">
                            <div
                                class="col-xs-12 error"
                                  *ngIf="show_error_no_ext">
                                  <a>El numero es requerido</a>
                                </div>
                        </div>
                    </div>
        
                    <div class="col-xs-6">
                        <label>Numero Interior</label>
                        <input type="text" name="numero_interior" class="form-control" formControlName="numero_interior">
        
        
                    </div>
        
                    <div class="col-xs-6">
                        <label>C.P.</label>
                        <input id="codigo_postal" [className]="cls_cp" type="text" formControlName="cp" name="cp">
                        <div class="row">
                            <div
                                class="col-xs-12 error"
                                  *ngIf="show_error_cp">
                                  <a>El codigo postal es requerido</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label>Municipio</label>
                        <input type="text" [className]="cls_mun" formControlName="municipio" name="municipio">
        
                        <div class="row">
                            <div
                                class="col-xs-12 error"
                              *ngIf="show_error_mun">
                              <a>El municipio es requerido</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xs-6">
                        <label>Estado</label>
                        <input type="text" [className]="cls_est" formControlName="estado" name="estado">
        
                        <div class="row">
                            <div
                                class="col-xs-12 error"
                              *ngIf="show_error_est">
                              <a>El estado es requerido</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xs-6">
                        <label>Pais</label>
                        <input type="text" [className]="cls_pais" formControlName="pais" name="pais">
        
                        <div class="row">
                            <div
                                class="col-xs-12 error"
                              *ngIf="show_error_pais">
                              <a>El pais es requerido</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label>E-Mail</label>
                        <input [className]="cls_email" type="text" formControlName="e_mail" name="e_mail" >
        
                        <div class="row">
                            <div
                                class="col-xs-12 error"
                              *ngIf="show_error_email">
                              <a>El e-Mail es requerido</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label>Referencias de Domicilio</label>
                        <input type="text" [className]="cls_referencia" formControlName="referencia" name="referencia">
        
                        <div class="row">
                            <div
                                class="col-xs-12 error"
                              *ngIf="show_error_referencia">
                              <a>Debe indicar las referencias de la direccion</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xs-12" style="text-align:center;">
                        <button class="btn btn-primary btn-block"  style="margin:0 auto;margin-top:30px" (click)="insertaDireccionEnvio()" >
                                Confirma tu pedido
                        </button>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>
                </div>
        </form>
    </div>
        
</div>

<div class="cls_error_msj" *ngIf="muestra_error">
    <p>{{msj_error}}</p>
</div>


<div class="cls_exito_msj" *ngIf="mostrar_msj_exito">
    <p>{{msj_exito}}</p>
</div>
        
<div class="preloader-fondo" *ngIf="cargando">    
    <div class="preloader">

    </div>
</div>
