<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 >
                    Seguir Envio
            </h1>                    
        </div>
        <div class="col-xs-12">
                <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img src="./../../../assets/img/seguir-envio.jpg" id="img_envio">
        </div>      
        <div class="col-xs-12 col-sm-8">
                <div class="row">
                        <div class="col-xs-12">
                            <p>
                                En jassdel nos preocupamos en hacer nuestros procesos de una manera más simple posible. Es por esto que no solicitamos tu registro al momento de hacer una compra.
                                <br>
                                <br>
                                A continuación te describimos paso a paso, cómo consultar la información de tu compra.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;1.-  Da click en el menú “Sigue tu pedido”
                                 <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;2.- Te aparecerá un formulario donde deberás ingresar el correo electrónico que nos proporcionaste al hacer tu compra.
                                 <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;3.-   Presiona el botón, “Enviar Clave Seguridad”, con esta acción te enviaremos un codigo a tu cuenta de correo electrónico.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;4.-  El sistema te direccionara a un formulario donde te pedirá que ingreses la clave de seguridad que fue enviada a tu correo.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;5.-  Presiona el botón “Validar Clave”.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;6.- Una vez que ingresaste la clave correctamente, te enviará el listado de todas tus compras.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;7.- Una vez que identificaste la compra de la cual quieres saber el estatus, da click en el boton “Seguir Envio”.
                                <br>
                                <br>
                                
                            </p>
                        </div>
                    </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
                <hr>
        </div>
    </div>

</div>










