
<hr>
<div id="detalle_producto" >
    <div class="row" >
		<div class="col-xs-12" *ngIf="muestra_galeria">
			<div class="col-xs-12">
					<h1 id="nombre_producto">
						{{productos.nom_producto}}
					</h1>
			</div>	
			<div class="col-xs-12">					
				<p id="precio_producto">${{productos.precio | number : "1.2-2"}}</p>
			</div>
		</div>	
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-12">
					<hr>
				</div>
				<div  class="col-xs-12">					
					<div  id="galeria_prod" *ngIf="muestra_galeria">
							<div class="cls_galeria_detalle_prod">
								<div id="img_mostrar" >
									<img src="{{img}}">
								</div>
								<div id="linea_boton_galeria" style="text-align:center"  >
									<a *ngFor="let img of productos.img_prod" (click)="fn_cambia_img(img.orden)">
										<img class="cls_boton_img_galeria" src="../assets/img/productos/{{img.img_producto}}_{{img.orden}}.jpg">
									</a>
								</div>
							</div>
					</div>
				</div>
				<div class="col-xs-12">
					<a  class="btn btn-default btn-block" id="btn_mas_informacion" href="https://api.whatsapp.com/send?phone=528113127511&text=Hola,%20¿Tienes%20en%20existencia%20el%20producto%20{{id_producto}}?" target="_blank">
						<img src="../assets/img/whatsapp-icon-grende.png">
					Quiero mas información de este producto
					</a>
				</div>
			</div>
		</div>			
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-12">
					<hr>
				</div>
				<div class="col-xs-3">
					<input [className]="cls_cantidad"  type="number" id="cantidad-form" placeholder="cantidad" [(ngModel)]="cantidad" >
				</div>
				<div class="col-xs-5 "  *ngIf="muestra_galeria">
					<select    [(ngModel)]="id_talla" name="id_talla" id="id_talla_detalle_producto" [className]="cls_talla" >
						<option value="0">Talla</option>
						<option *ngFor="let talla of productos.tallas" [value]="talla.id_talla">
							{{talla.talla}}
						</option>
					</select>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-primary btn-block" id="btn_agregar_a_bolsa" (click)="fn_agregar_bolsa_compras()">
						Agregar
					</button>
				</div>

				<div class="col-xs-12">
				<hr>
				</div>
				<div class="col-xs-12">
					<div class="row">						
						<div class="col-xs-6">
							<img src="../../../assets/img/img_envio.png" class="img_envio">
							
							<a class="cls_parrafo">
								Envío gratis en compras mayores a $500.00.
							</a>
							<br>
						</div>
					
						<div class="col-xs-6">
							<img src="../../../assets/img/img_devolucion.png" class="img_devolucion">
							
							<a class="cls_parrafo">
								Devolución completamente gratis.
							</a>
							<br>
						</div>
						<!--
						<div class="col-xs-12" style="background-color:black;text-align: center;">
							
								<p style="color:#daba0b;padding-top:10px;padding-bottom: 10px;">Haz tu pedido y paga al recibir tu producto (Disponible solo para Monterrey Nuevo León y su área metropolitana).
								</p>
							
						</div>
					-->
					</div>
			
				</div>
				<div class="col-xs-12">
						<div class="row" id="div_caracteristicas" [ngStyle]="{overflow:val_overflow}" >
							<!--
							<div class="col-xs-6" *ngIf="muestra_galeria">
										<hr class="hr-color">
										<a id="titulo_detalle_producto">Caracteristicas</a>						
										<div class="row" *ngFor="let atr of productos.atributos">
											<div class="col-xs-4">								
												<p class="cls_caracteristicas_detalle_prod"><span>{{atr.atributo}}: </span></p>	
											</div>
											<div class="col-xs-8">							
												<p class="cls_caracteristicas_detalle_prod">{{atr.valor_atributo}}</p>	
											</div>
										</div>
										
									<hr  class="hr-color">
								</div>
							-->
								<div class="col-xs-12" *ngIf="muestra_galeria">
								
									<hr class="hr-color" >
										<p id="titulo_detalle_producto">Descripción</p>						
										<div class="row">
										
											<div class="col-xs-12">	
																		
												<p [innerHTML]="myhtml"  class="cls_caracteristicas_detalle_prod" id="descripcion" >
													
												</p>	
											</div>
											
										</div>
									<hr  class="hr-color">
								</div>
							
						</div>
					<!--	<div class="row" id="div_caracteristicas">
								
								<div class="col-xs-12">
									<a id="btn_mostrar_mas" (click)="fn_muestra_mas_detalle()" > {{str_btn_ver_mas}}</a>
								</div>
						</div>
			-->
						
				</div>
			</div>
		</div>			
	</div>


</div>

<div class="cls_error_msj" *ngIf="muestra_error">
    <p>{{msj_error}}</p>
</div>


<div class="cls_exito_msj" *ngIf="mostrar_msj_exito">
        <p>{{msj_exito}}</p>
    </div>
    
	<div class="preloader-fondo" *ngIf="cargando">    
        <div class="preloader">

        </div>
	</div>



<div id="div_hover_zoom" *ngIf="muetra_zoom">
	
</div>
<div id="div_img_zoom" *ngIf="muetra_zoom">
	<img src="{{img}}">
</div>

<div id="btn_cerrar" *ngIf="muetra_zoom">
	<a (click)="fn_muestra_zoom()" >cerrar</a>
</div>

	