.cls_img_carrito
{
    width: 100%;
}
#label_total_pagar
{
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
}
#label_precio
{
    text-align: left;
    font-size:20px;
}
.btn-primary 
{
    font-size:20px;
}