
<div >
    <div class="row">
        <div class="col-xs-12" class="cls_container_posicion">
            <div class="col-xs-12">                
                <a [routerLink]="['/home']" class="cls_link_posicion" >Home</a><a class="cls_link_posicion">/</a><a class="cls_link_posicion">Resultado Busqueda</a><a class="cls_link_posicion">/</a><a class="cls_link_posicion">Bolsa de Compras</a>
            </div>
        </div>
    </div>
</div>
<hr>
<div  id="bolsa_compras">
        <div class="row">
            
            <div class="col-xs-12">
                    <h1>
                        Bolsa de Compras
                    </h1>
                    <hr>
            </div>
        </div>

        
            <div class="row" *ngIf="muestra_msj_no_prod">
                <div class="col-xs-12" >
                    <div style="width: 100%;text-align: center;padding-top:20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;background-color:gray;">
                        <p style="font-weight: bold;color:white">
                            No se encontraron resultados con los parametros de busqueda.
                            <br>
                            <br>
                            Intente Nuevamente.
                        </p >
        
                    </div>
                </div>
            </div>
       

        <div class="row" *ngIf="!muestra_msj_no_prod">
            <div class="col-xs-12">
                <div *ngFor="let prod of productos">
                <div class="row" >                    
                        <div class="col-xs-4 col-sm-2">
                                <img src="../../assets/img/productos/{{prod.nom_img}}_1.png" class="cls_img_carrito">
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <div class="row">
                                <div class="col-xs-8 col-sm-10">
                                    <div class="row">
                                        <div class="col-xs-12">
                                                <a class="cls_nombre_prod" [routerLink]="['/detalle_producto',prod.id_producto]">
                                                    <strong>{{prod.nombre}} -  </strong>    
                                                    <strong style="color:black"> {{prod.talla}}</strong> 
                                                </a>
                                        </div>
                                        <br>
                                        <div class="col-xs-12 col-sm-6">
                                            <p><span>Marca: </span>{{prod.marca}}</p>
                                        </div>
                                       
                                        <div class="col-xs-6 col-sm-6">
                                            <p><span>Cant: </span>{{prod.cantidad}}</p>
                                        </div>
                                            
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="row">
                                        <div class="col-xs-12">                                            
                                            <a class="cls_btn_elimimnar" (click)="eliminaProductoCarrito(prod.id)">Eliminar</a>
                                        </div>
                                        <div class="col-xs-12">
                                            <p>{{prod.precio | number:'1.2-2'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                </div>
                <hr>
                </div>
                
                <div class="row">
                    <div class="col-xs-6 col-sm-8 text-right" >
                        <a  *ngIf="muestra_btn_agregar_cupon" id="btn_agregar_cupon" (click)="fn_muestra_valida_cupon()">Agregar cupon de descuento</a>                        
                    </div>
                    <div class="col-xs-6 col-sm-4 text-right">
                        
                        <button type="button" class="btn btn-light " [routerLink]="['/categorias']">Seguir Comprando</button>
                        
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>
                
                <div class="row" *ngIf="agregar_cupon">
                    <div class="col-xs-12" >                                               
                        <form #validacupon="ngForm" (ngSubmit)="fn_valida_cupon()">
                            <div class="col-xs-12 col-sm-4">
                                <p>Ingrea tu e-mail y el folio recibido:</p>
                            </div>
                             <div class="col-xs-7 col-sm-5">
                                
                                    <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="form.email" placeholder="Correo Electrónico">
                                
                            </div>

                            <div class="col-xs-5 col-sm-3">
                                
                                    <input type="number" class="form-control" name="folio" #folio="ngModel" [(ngModel)]="form.folio" placeholder="Folio Cupon">
                                
                            </div>
                            
                            <div
                            class="col-xs-12 error"
                             style="text-align: center;">
                                <a *ngIf="muestra_error_valida_cupon ">{{msj_error}}</a>
                            </div>

                            <div class="col-xs-12 text-right">                              
                                <button class="btn btn-primary">
                                    Aplicar descuento
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8 col-sm-10">
                        <p id="label_total_pagar">Costo envío: </p>
                        
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <p id="label_precio">{{costo_envio | number:'1.2-2'}}</p>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8 col-sm-10">
                        <p id="label_total_pagar">Subtotal: </p>
                        
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <p id="label_precio">{{subtotal | number:'1.2-2'}}</p>                        
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-10">
                        <p id="label_total_pagar">Descuento por cupon: </p>
                        
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <p id="label_precio">{{desc_x_p | number:'1.2-2'}}</p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-10">
                        <p id="label_total_pagar" style="font-size: 20px;font-weight: bold;">Total a pagar: </p>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <p id="label_precio" style="font-size: 20px;font-weight: bold;">{{total_pagar | number:'1.2-2'}}</p>                        
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-xs-12">
                            <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-primary"  [routerLink]="['/informacion_envio']">Terminar Compra</button>
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                                <hr>
                        </div>
                    </div>
            </div>
        </div>
</div>

<div class="cls_error_msj" *ngIf="muestra_error">
        <p>{{msj_error}}</p>
    </div>
    
    
    <div class="cls_exito_msj" *ngIf="mostrar_msj_exito">
            <p>{{msj_exito}}</p>
        </div>
<div class="preloader-fondo" *ngIf="cargando">    
<div class="preloader">

</div>
</div>
