.cls_img_carrito
{
    width: 100%;
}
#label_total_pagar
{
    font-size: 13px;
    text-align: right;
    margin-right: 10px;
}
#label_precio
{
    text-align: left;
    font-size:13px;
}
.btn-primary 
{
    font-size:20px;
}
@media (min-width: 768px) {
    .cls_img_carrito
    {
        display: block;
        width: 60%;
        margin:0 auto;
    }
}