<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 >
                    Devoluciones
            </h1>                    
        </div>
        <div class="col-xs-12">
                <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img src="./../../../assets/img/devoluciones.jpg" id="img_envio">
        </div>      
        <div class="col-xs-12 col-sm-8">
                <div class="row">
                        <div class="col-xs-12">
                            <p>
                                En Jassdel estamos comprometidos con su satisfacción por lo cual, si usted tiene algún problema con su pedido, la devolución correrá por nuestra cuenta.
                                <br>
                                <br>
                                <a [routerLink]="['/politica_devolucion']">
                                    (En este Link podras consultar las politicas de devoluciones)
                                </a>
                                <br>
                                <br>
                                A continuación le describimos el proceso para la devolución de productos:
                                <br>
                                <br>
                                1.- Una vez que usted haya recibido su pedido y alguno  o todos los productos no cumplan con sus expectativas (ya se por que la talla no fue la correcta, no le gusto el producto, defecto de fabrica o cualquiera otra razon que usted tenga), usted deberá notificarnos por alguno de los siguientes medios.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;Whatsapp:	(81)-1312-7511
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;e-mail: gerencia.jassdel@jassdel.com
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;Llamada telefonica: (81)-1312-7511
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;En el medio que usted elija deberá mencionar la siguiente información:
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;* Correo Electronico del comprador.                                
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;* Razón de la devolución.                                                               
                                <br>
                                <br>
                                2.- Uno de nuestros asesores recibira su solicitud y le dara el seguimiento hasta que su solicitud sea resuelta.                                
                                <br>
                                <br> 
                        </p>
                                            
                        </div>
                    </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
                <hr>
        </div>
    </div>

</div>

















