<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 >
                    Devoluciones
            </h1>                    
        </div>
        <div class="col-xs-12">
                <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img src="./../../../assets/img/devoluciones.jpg" id="img_envio">
        </div>      
        <div class="col-xs-12 col-sm-8">
                <div class="row">
                        <div class="col-xs-12">
                            <p>
                                En Jassdel estamos comprometidos con su satisfacción por lo cual, si usted tiene algún problema con su pedido, la devolución correrá por nuestra cuenta.
                                <br>
                                <br>
                                A continuación le describimos el proceso para la devolución de productos:
                                <br>
                                <br>
                                1.- Una vez que usted haya recibido su pedido y alguno  o todos los productos no cumplan con sus exigencias, usted deberá notificarnos por alguno de los siguientes medios.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;Whatsapp:	(81)-1312-7511
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;e-mail: gerencia.jassdel@jassdel.com
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;Llamada telefonica: (81)-1312-7511
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;En el medio que usted elija deberá mencionar la siguiente información:
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;* Folio de compra.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;* Clave(s) del(los) producto(s) a devolver  (solo en caso de que la devolución sea parcial, si usted devolverá todos los productos, omitir este punto).
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;* Razón de la devolución.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;* Cuenta bancaria a la que se hara la devolucion.
                                <br>
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;* Foto del producto donde se enfoque el daño o defecto de este.
                                <br>
                                <br>
                                2.- En un lapso de tiempo menor a 24 horas, usted recibirá vía correo electrónico el archivo de la guia con el cual usted deberá acudir a la paqueteria indicada para depositar el paquete.
                                <br>
                                <br>                      
                                3.- Una vez que el paquete llegue a nuestras instalaciones, será evaluado y si cumple con los requisitos para aceptar la devolución <a [routerLink]="['/politica_devolucion']">(Ver políticas de devolución)</a> , se le depositara el importe correspondiente al (los) producto (s) devuelto (s).
                                <br>
                                <br> 
                                4.- Será notificado por el mismo medio en que solicitó la devolución en el punto 2.
                                <br>
                                <br> 
                                
        
        
                        </p>
                                            
                        </div>
                    </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
                <hr>
        </div>
    </div>

</div>

















