.cls_item_resultado_busqueda
{
    overflow: hidden;
}

.cls_nompre_producto_resultado_busqueda
{
    font-size:15px;
    color:black;
    display: block;
    text-align: center;
    height: 40px;
}

.cls_precio_prod
{
    font-size:15px;
    color:red;
    display: block;
    text-align: center;
}
.cls_img_resultado_busqueda
{
    width: 100%;
}

#resultado_busqueda button
{
    font-size: 15px;;
}