<div class="container">
    <div class="row">			
            <div class="col-xs-12" class="cls_container_posicion">
                    <a [routerLink]="['/home']" class="cls_link_posicion" >Home</a>/<a class="cls_link_posicion"> Politicas de cambios y devoluciones.</a>
            </div>
    </div>        
</div>
<hr>
<div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 >
                        Politicas de Devolución.
                </h1>                    
            </div>
            <div class="col-xs-12">
                    <hr>
            </div>
        </div>    
        <div class="row">
    
            <div class="col-xs-12 ">
                    <div class="row">
                            <div class="col-xs-12">
                                <p class="cls_parrafo">
                                    <strong>
                                        ¿Como Devuelvo mi producto?
                                    </strong> 
                                    <br>
                                    <br>&nbsp;&nbsp;&nbsp;	Comunícate al Call Center (81) 1312 7511 y te apoyaremos a resolver tu caso.
                                    <br>
                                    <br>

                                   <strong>
                                       ¿Que productos no puedo devolver?
                                   </strong>
                                    <br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;Por higiene los siguientes productos no pueden ser devuelvos.
                                    <br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;* Modeladores <br>
                                    &nbsp;&nbsp;&nbsp;* Fajas <br>
                                    &nbsp;&nbsp;&nbsp;* Leggins <br>
                                    &nbsp;&nbsp;&nbsp;* Pantymedias <br>                                                                 
                                    &nbsp;&nbsp;&nbsp;* Ropa Interior <br>                                                                                                     
                                    &nbsp;&nbsp;&nbsp;* Toallas y calcetines
                                    <br>
                                    <br>
                                    <strong>
                                        ¿Cuanto tiempo tengo para devolver mi producto?
                                    </strong>
                                    <br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;Usted cuenta con 5 dias naturales a partir de que recibe el paquete para reportarnos que desea hacer una devolucion. Una vez reportado, nosotros nos encargaremos de pasar por el producto al lugar donde le fue entregado (Aplica solo para la Ciudad de Monterrey y su area Metropolitana).
                                    <br>
                                    <br>
                                    <strong>
                                            ¿Cual es el costo de devolución?
                                    </strong>
                                    <br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;En jassdel las devoluciones son gratis, todos los costos de la devolución corren por nuestra cuenta.
                                    <br>
                                    <br>
                                    <strong>
                                        ¿En que condiciones debe estar el producto y el empaque?
                                    </strong>
                                    <br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;En las mejores condiciones posibles. Es fundamental que conserves el empaque original y la etiqueta, pues es tan importante como el producto; cuídalo, guárdalo y manipúlalo con el mayor de los cuidados, de esta forma no tendrás ningún inconveniente al momento de realizar la devolución. De no haberlo conservado, busca una envoltura parecida que lo proteja.
                                    <br>
                                    <br>
                                    <!--
                                    &nbsp;&nbsp;&nbsp;Una vez que imprimas la guía de la paquetería, es importante no pegarla directamente en la caja original del producto, ya que el pegamento puede dañar el empaque y tu devolución puede ser rechazada. Utiliza otra caja o envoltura para pegar tu guía y proteger el empaque original.
                                    <br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;En caso de que la devolución sea de un celular, éste debe venir sin claves ni bloqueos.
                                    <br>
                                    <br>
                                    -->
                                    &nbsp;&nbsp;&nbsp;Por favor, ten en cuenta que si no conservas el empaque original, o si éste se encuentra en mal estado, tu devolución podrá ser rechazada.
                                    <br>
                                    <br>
                                    <!--
                                    <strong>
                                            ¿Como se si jassdel recibio mi producto?
                                    </strong>
                                    <br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;Una vez que recibamos tu producto, se te enviara un correo notificandote el estatus de tu devolucion.

                                    <br>
                                    <br>
                                    -->
                                </p>           
                            </div>
                        </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-xs-12">
                    <hr>
            </div>
        </div>
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    