<!--<div id="encabezado" >-->
<div class="container-fluid" id="encabezado">
        <div class="row">
                <div class="col-xs-6 col-sm-4 text-center" id="logo" (click)="fn_go_home()"  >
                        <img src="../assets/img/logo_grande.png" alt="" id="logo_peque">
                        <img src="../assets/img/logo_grande.png" alt="" id="logo_grande">                      
                </div>                            
                <div class="col-xs-2 col-sm-1 text-center" >                
                </div>               
                <div id="menu" class="col-xs-2 col-sm-1 text-center" >                     
                        <a id="btn_categorias" (click)="fn_muestra_menu_navegacion()">
                                <span class="glyphicon glyphicon-align-justify"></span>
                        </a>      
                </div>                
                <div class="col-xs-2 col-sm-1 text-center" id="bolsa_compras" (click)="fn_go_carrito_compras()">                   
                                <img src="../assets/img/bolsa_compras.png" >  
                                <a id="cont_prod_carrito">{{cont_prod}}</a>  
                </div>

                <div class="col-xs-8 col-sm-3 cls_busqueda_pc" >
                    <input type="text" class="form-control col-xs-12 cls_form_busqueda"   [(ngModel)]="txt_buscar" >                
                </div>
                <div class="col-xs-4 col-sm-2 cls_busqueda_pc ">
                    <button class="btn btn-primary btn-block cls_form_busqueda"   (click)="fn_muestra_form_busqueda()" [routerLink]="['/de_passo',2,txt_buscar]"> Buscar</button>                                   
                </div>

        </div>  
</div>
<div id="pie_menu">
</div>
<div id="busqueda_movil" class="container"  >
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            
        </div>
        <div class="col-xs-8 col-sm-3 ">
            <input type="text" class="form-control col-xs-12 cls_form_busqueda"   [(ngModel)]="txt_buscar" >                
        </div>
        <div class="col-xs-4 col-sm-2 ">
            <button class="btn btn-primary btn-block cls_form_busqueda"   (click)="fn_muestra_form_busqueda()" [routerLink]="['/de_passo',2,txt_buscar]"> Buscar</button>                                   
        </div>
    </div>
</div>



<div class="container-fluid" id="esquema-pc" >
    <div class="row-fluid"  >
        <div class="col-xs-12 col-sm-3" id="div_menu_pc" >
            <app-menu-nav (evento)="fn_oculta_menu($event)"></app-menu-nav>
        </div> 
        <div class="col-xs-12 col-sm-9">
            <router-outlet></router-outlet>
        </div>        
    </div>
</div>




<div  class="container-fluid">
    <div class="row">
        
       
        <div class="col-xs-12">
                <hr>
            </div>
    </div>




    <div class="row" id="pie_movil">
        <div class="col-xs-12"  id="btn_face">
            <p >
                Siguenos en Redes Sociales.
            </p>           
            <a href="https://www.facebook.com/pg/JassDel-101388937904521/reviews/?referrer=page_recommendations_see_all&ref=page_internal">
                <img src="../assets/img/btn_face_negro.png" alt="">
            </a> 
        </div>
        <div class="col-xs-12">
                <hr>
            </div>
        <div class="col-xs-12">
            <p>
                    <span class="glyphicon glyphicon-earphone"> </span>   CENTER: 8113127511
            </p>
        </div>
      
        <div class="col-xs-12">
            <hr>
        </div>
        <div class=" col-xs-12 col-sm-4" id="ayuda_movil">
            <div class="row">
                <div class="col-xs-12 cls_item_pie">
                    <a (click)="fn_muestra_menu_ayuda()" >
                        AYUDA   
                        <span  *ngIf="!muestra_menu_ayuda">+</span>
                        <span  *ngIf="muestra_menu_ayuda">-</span>
                    </a>
                </div>

                <div class="col-xs-12 cls_item_pie_2" *ngIf="muestra_menu_ayuda" >
                    <div class="row">
                        <div class="col-xs-12">
                         <a [routerLink]="['/costo_envio']">Preguntas frecuentes: compras</a>                        
                        </div>
                    </div>                   
                    <div class="row">
                        <div class="col-xs-12">
                            <a [routerLink]="['/devoluciones']">Preguntas frecuentes: devoluciones.</a>                        
                        </div>
                    </div>                   
                </div>  
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>            
        </div>  

 <div class=" col-xs-12 col-sm-4" id="ayuda_pc">
            <div class="row">
                <div class="col-xs-12 cls_item_pie">
                    <a (click)="fn_muestra_menu_ayuda()" >
                        AYUDA   
                        
                    </a>
                </div>

                <div class="col-xs-12 cls_item_pie_2" >
                    <div class="row">
                        <div class="col-xs-12">
                         <a [routerLink]="['/costo_envio']">Preguntas frecuentes: compras</a>                        
                        </div>
                    </div>                   
                    <div class="row">
                        <div class="col-xs-12">
                            <a [routerLink]="['/devoluciones']">Preguntas frecuentes: devoluciones.</a>                        
                        </div>
                    </div>                   
                </div>  
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>            
        </div>  



        <div class=" col-xs-12  col-sm-4" id="jassdel_movil">
            <div class="row">
                <div class="col-xs-12 cls_item_pie">
                        <a (click)="fn_muestra_menu_jassdel()" >JASSDEL   <span *ngIf="!muestra_menu_jassdel">+</span> <span *ngIf="muestra_menu_jassdel">-</span></a>
                </div>      
                <div class="col-xs-12 cls_item_pie_2" *ngIf="muestra_menu_jassdel" >
                    <div class="row">
                        <div class="col-xs-12" style="text-align: center;">

                            <p>
                                En Jassdel nos gustaria saber de ti, no dudes en hacernos saber tus comentarios y/o opiniones:
                                <br>
                                <br>
                                Whatsapp: (81)-1312-7511
                                <br>
                                <br>
                                e-mail: gerencia.jassdel@jassdel.com
                                <br>
                                <br>
                                Llamada telefonica: (81)-1312-7511
                                <br>
                                <br>              

                            </p>
                            <h1 >
                                Horarios de Atención
                            </h1>
                            <hr>

                            <p>
                                De 9 A.M. a 6 P.M.
                            </p>

                             <p>
                                <br>
                                <br>
                                <strong>Dirección fiscal:</strong>
                                <br>
                                Calle noche buena #139, cp 66673, colonia Cantoral primer sector, Pesqueria Nuevo Leon, Mexico.
                                
                            </p>
                                
                        </div>
                    </div>     
                    
                </div>   
                <div class="col-xs-12">
                    <hr>
                </div>                           
            </div>
           
    </div>


 <div class=" col-xs-12  col-sm-4" id="jassdel_pc">
            <div class="row">
                <div class="col-xs-12 cls_item_pie">
                        <a (click)="fn_muestra_menu_jassdel()" >
                            JASSDEL                               
                        </a>
                </div>      
                <div class="col-xs-12 cls_item_pie_2"  >
                    <div class="row">
                        <div class="col-xs-12" style="text-align: center;">

                            <p>
                                En Jassdel nos gustaria saber de ti, no dudes en hacernos saber tus comentarios y/o opiniones:
                                <br>
                                <br>
                                Whatsapp: (81)-1312-7511
                                <br>
                                <br>
                                e-mail: gerencia.jassdel@jassdel.com
                                <br>
                                <br>
                                Llamada telefonica: (81)-1312-7511
                                <br>
                                <br>              

                            </p>
                            <h1 >
                                Horarios de Atención
                            </h1>
                            <hr>

                            <p>
                                De 9 A.M. a 6 P.M.
                            </p>

                             <p>
                                <br>
                                <br>
                                <strong>Dirección fiscal:</strong>
                                <br>
                                Calle noche buena #139, cp 66673, colonia Cantoral primer sector, Pesqueria Nuevo Leon, Mexico.
                                
                            </p>
                                
                        </div>
                    </div>     
                    
                </div>   
                <div class="col-xs-12">
                    <hr>
                </div>                           
            </div>
           
    </div>


    <div class="col-xs-12 col-sm-4"  id="politicas_movil" >
        <div class="row">
            <div class="col-xs-12 cls_item_pie" >
                    <a (click)="fn_muestra_menu_politicas()" >
                        POLÍTICAS   
                        <span  *ngIf="!muestra_menu_politicas">+</span>
                        <span  *ngIf="muestra_menu_politicas">-</span>
                    </a>
            </div>
            <div class="col-xs-12 cls_item_pie_2" *ngIf="muestra_menu_politicas" >
                <div class="row">
                    <div class="col-xs-12">
                        <a [routerLink]="['/politica_devolucion']">Políticas de Devolución</a>                        
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                            <a [routerLink]="['/politica_privacidad']">Política Privacidad</a>                        
                        </div>
                    </div>
                   
            </div>  
           
        </div>            
    </div>
     <div class="col-xs-12 col-sm-4" id="politicas_pc">
        <div class="row">
            <div class="col-xs-12 cls_item_pie" >
                    <a (click)="fn_muestra_menu_politicas()" >
                        POLÍTICAS   
                       
                    </a>
            </div>
            <div class="col-xs-12 cls_item_pie_2"  >
                <div class="row">
                    <div class="col-xs-12">
                        <a [routerLink]="['/politica_devolucion']">Políticas de Devolución</a>                        
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                            <a [routerLink]="['/politica_privacidad']">Política Privacidad</a>                        
                        </div>
                    </div>
                <div class="col-xs-12">
                    <hr>
                </div>  
            </div> 

           
        </div>            
    </div>
    <div class="col-xs-12">
        <hr>
    </div>  
    <div class="col-xs-12 text-center" >
        <img src="../assets/img/cards1.png" alt="">
    </div>
</div>
    <div  id="menu_navegacion"  *ngIf="mostrar_menu_navegacion">
        <app-menu-nav (evento)="fn_oculta_menu($event)"></app-menu-nav>
        
    </div>

  </div>

<!--Menu navegacion-->






