<div id="encabezado" >
  <div id="logo" (click)="fn_go_home()" >
          <img src="../assets/img/logo_peque.png" alt="">
  </div>
  
  <div id="menu" >                     
          <a id="btn_categorias" (click)="fn_muestra_menu_navegacion()">Menu ˅ </a>      
  </div>
  <div id="btn_usuario">
      <a (click)="fn_muestra_menu_cliente()">
          <img  *ngIf="muestra_icono_usuario" src="../assets/img/btn_usuario.png">
          <span *ngIf="!muestra_icono_usuario">X</span>
      </a>
      
      <div id="menu_usuario" *ngIf="mostrar_menu">
          <a >Sigue tu pedido</a>
          <!--
              <a>Iniciar Session</a>
          <a >Panel Control</a>                        
          <a >Salir</a>
          <a >Ayuda</a>
          -->
     </div>
  </div>
  <div id="btn_buscar" (click)="fn_muestra_form_busqueda()">
      <img src="../assets/img/btn_buscar.png" alt="">
  </div>
  <div id="btn_face">
    <a href="https://www.facebook.com/pg/JassDel-101388937904521/reviews/?referrer=page_recommendations_see_all&ref=page_internal">
        <img src="../assets/img/btn_face.png" alt="">
    </a>
    
  </div>
  
<div id="bolsa_compras" (click)="fn_go_carrito_compras()">
  <img src="../assets/img/bolsa_compras.png" alt="">
  <a style="color:red;font-weight: bold;display: inline-block;">{{cont_prod}}</a>
</div>

</div>
<div id="pie_menu">

</div>

<router-outlet></router-outlet>



<!--Menu navegacion-->
  <div  id="menu_navegacion"  *ngIf="mostrar_menu_navegacion">
      <div class="container-fluid">
              <div class="row">
                      <div class="col-xs-3" id="img_logo_menu_hover">
                          <img  src="../assets/img/logo_peque.png" alt="">
                      </div>
                      <div class="col-xs-6">
                          <h1 class="cls_encabezado_hover"> Nuestras Categorias</h1>
                      </div>
                      <div class="col-xs-3" id="btn_salir_menu_hover">
                          <a id="btn_cerrar" (click)="fn_muestra_menu_navegacion()" >X</a>
                      </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      
                          <br><br>
                  </div>
              </div>
              <div class="row">                        
                  <div class="col-xs-12 " >
                          <a class="cls_item_menu_hover" >Dama </a>
                          <a class="cls_icon_desplega">-</a>
                          <div class="row ">
                                  <div class="col-xs-12 ">
                                      <a class="cls_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,1]">Carteras</a>
                                  </div>
                                      <div class="col-xs-12 ">
                                              <a class="cls_sub_item_menu_hover"  (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,2]">Bolsas</a>
                                      </div>
                                      
                                      <div class="col-xs-12 ">
                                              <a class="cls_sub_item_menu_hover"  (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,3]">Back Pack</a>
                                      </div>
                                      
                                      <div class="col-xs-12 ">
                                              <a class="cls_sub_item_menu_hover"  (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,4]">Invierno</a>
                                      </div>
                          </div>
                  </div>
              </div>
              <!--
              <div class="row">
                      <div class="col-xs-12 " >
                          <a class="cls_item_menu_hover" >Caballero </a>
                          <a class="cls_icon_desplega">˅</a>
                      </div>
              </div>
              <div class="row">
                      <div class="col-xs-12 " >
                          <a class="cls_item_menu_hover" >Niño </a>
                          <a class="cls_icon_desplega">˅</a>
                      </div>
              </div>
              <div class="row">
                      <div class="col-xs-12 " >
                          <a class="cls_item_menu_hover" >Niña </a>
                          <a class="cls_icon_desplega">˅</a>
                      </div>
              </div>
            -->
      </div>
      
  </div>

<!--Menu navegacion-->


<!--Buscar-->

<div  id="buscar_form" *ngIf="mostrar_form_buscar">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-xs-3" id="img_logo_buscar_hover">
                        <img  src="../assets/img/logo_peque.png" alt="">
                    </div>
                    <div class="col-xs-6">
                        <h1 class="cls_encabezado_hover"> Buscar</h1>
                    </div>
                    <div class="col-xs-3"  id="btn_salir_buscar_hover">
                        <a  (click)="fn_muestra_form_busqueda()">X</a>
                    </div>
            </div>
            <div class="container " id="form_buscar">
                    <div class="row">
                        <div class="col-xs-12">
                            <br><br>
                        </div>
                    </div>
                    <div class="row">                               
                        <div class="col-xs-12">
                                <input type="text" class="form-control"  [(ngModel)]="txt_buscar">                                        
                        </div>                                    
                    </div>
                    <div class="row">
                        <br><br>
                    </div>
                    <div class="row">
                            <div class="col-xs-12 text-center">
                                   <button class="btn btn-primary" (click)="fn_muestra_form_busqueda()" [routerLink]="['/de_passo',2,txt_buscar]"> Buscar</button>                                   
                            </div>    
                    </div>
            </div>
           
    </div>
</div>

<!--buscar-->