<!--<div id="encabezado" >-->
    <div class="container-fluid" id="encabezado">
        <div class="row">
                <div class="col-xs-6 col-sm-7 text-center" id="logo" (click)="fn_go_home()"  >
                        <img src="../assets/img/logo_grande.png" alt="" id="logo_peque">
                        <img src="../assets/img/logo_grande.png" alt="" id="logo_grande">                      
                </div>                            
                <div class="col-xs-2 col-sm-1 text-center" >                
                </div>               
                <div id="menu" class="col-xs-2 col-sm-1 text-center" >                     
                        <a id="btn_categorias" (click)="fn_muestra_menu_navegacion()">
                                <span class="glyphicon glyphicon-align-justify"></span>
                        </a>      
                </div>                
                <div class="col-xs-2 col-sm-1 text-center" id="bolsa_compras" (click)="fn_go_carrito_compras()">                   
                                <img src="../assets/img/bolsa_compras.png" >  
                                <a id="cont_prod_carrito">{{cont_prod}}</a>  
                </div>
        </div>  
</div>
<div id="pie_menu">
</div>
<div class="container" style="background-color:black; padding-bottom: 10px;" >
    <div class="row">
        <div class="col-xs-8">
            <input type="text" class="form-control col-xs-12" style="height: 30px;border:1px solid black;margin-top:1px"  [(ngModel)]="txt_buscar" >                
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary btn-block" style="height: 30px;margin-top:1px;font-size:15px"  (click)="fn_muestra_form_busqueda()" [routerLink]="['/de_passo',2,txt_buscar]"> Buscar</button>                                   
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<div  class="container-fluid">
    <div class="row">
        
       
        <div class="col-xs-12">
                <hr>
            </div>
    </div>




    <div class="row" id="pie_movil">
        <div class="col-xs-12"  id="btn_face">
            <p >
                Siguenos en Redes Sociales.
            </p>           
            <a href="https://www.facebook.com/pg/JassDel-101388937904521/reviews/?referrer=page_recommendations_see_all&ref=page_internal">
                <img src="../assets/img/btn_face_negro.png" alt="">
            </a> 
        </div>
        <div class="col-xs-12">
                <hr>
            </div>
        <div class="col-xs-12">
            <p>
                    <span class="glyphicon glyphicon-earphone"> </span>   CENTER: 8113127511
            </p>
        </div>
      
        <div class="col-xs-12">
            <hr>
        </div>
        <div class=" col-xs-12 col-sm-4">
            <div class="row">
                <div class="col-xs-12 cls_item_pie">
                    <a (click)="fn_muestra_menu_ayuda()" >
                        AYUDA   
                        <span  *ngIf="!muestra_menu_ayuda">+</span>
                        <span  *ngIf="muestra_menu_ayuda">-</span>
                    </a>
                </div>

                <div class="col-xs-12 cls_item_pie_2" *ngIf="muestra_menu_ayuda" >
                    <div class="row">
                        <div class="col-xs-12">
                         <a [routerLink]="['/costo_envio']">Preguntas frecuentes: compras</a>                        
                        </div>
                    </div>                   
                    <div class="row">
                        <div class="col-xs-12">
                            <a [routerLink]="['/devoluciones']">Preguntas frecuentes: devoluciones.</a>                        
                        </div>
                    </div>                   
                </div>  
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>            
        </div>  
        <div class=" col-xs-12  col-sm-4">
            <div class="row">
                <div class="col-xs-12 cls_item_pie">
                        <a (click)="fn_muestra_menu_jassdel()" >JASSDEL   <span *ngIf="!muestra_menu_jassdel">+</span> <span *ngIf="muestra_menu_jassdel">-</span></a>
                </div>      
                <div class="col-xs-12 cls_item_pie_2" *ngIf="muestra_menu_jassdel" >
                    <div class="row">
                        <div class="col-xs-12" style="text-align: center;">

                            <p>
                                En Jassdel nos gustaria saber de ti, no dudes en hacernos saber tus comentarios y/o opiniones:
                                <br>
                                <br>
                                Whatsapp: (81)-1312-7511
                                <br>
                                <br>
                                e-mail: gerencia.jassdel@jassdel.com
                                <br>
                                <br>
                                Llamada telefonica: (81)-1312-7511
                                <br>
                                <br>              

                            </p>
                            <h1 >
                                Horarios de Atención
                            </h1>
                            <hr>

                            <p>
                                De 9 A.M. a 6 P.M.
                            </p>

                             <p>
                                <br>
                                <br>
                                <strong>Dirección fiscal:</strong>
                                <br>
                                Calle noche buena #139, cp 66673, colonia Cantoral primer sector, Pesqueria Nuevo Leon, Mexico.
                                
                            </p>
                                
                        </div>
                    </div>     
                    
                </div>   
                <div class="col-xs-12">
                    <hr>
                </div>                           
            </div>
           
    </div>
    <div class="col-xs-12 col-sm-4" >
        <div class="row">
            <div class="col-xs-12 cls_item_pie" >
                    <a (click)="fn_muestra_menu_politicas()" >
                        POLÍTICAS   
                        <span  *ngIf="!muestra_menu_politicas">+</span>
                        <span  *ngIf="muestra_menu_politicas">-</span>
                    </a>
            </div>
            <div class="col-xs-12 cls_item_pie_2" *ngIf="muestra_menu_politicas" >
                <div class="row">
                    <div class="col-xs-12">
                        <a [routerLink]="['/politica_devolucion']">Políticas de Devolución</a>                        
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                            <a [routerLink]="['/politica_privacidad']">Política Privacidad</a>                        
                        </div>
                    </div>
                   
            </div>  
           
        </div>            
    </div>
    <div class="col-xs-12">
        <hr>
    </div>  
    <div class="col-xs-12 text-center" >
        <img src="../assets/img/cards1.png" alt="">
    </div>
</div>










<!--Menu navegacion-->
  <div  id="menu_navegacion"  *ngIf="mostrar_menu_navegacion">
      <div class="container-fluid">
              <div class="row">
                      <div class="col-xs-3" id="img_logo_menu_hover">
                          <img  src="../assets/img/logo_peque.png" alt="">
                      </div>
                      <div class="col-xs-6">
                          <h1 class="cls_encabezado_hover">Jassdel Categorias</h1>
                      </div>
                      <div class="col-xs-3" id="btn_salir_menu_hover">
                          <a id="btn_cerrar" (click)="fn_muestra_menu_navegacion()" >X</a>
                      </div>
              </div>
              
              <div class="row" >                        
                  <div class="col-xs-12 " >
                            <div class="row">
                                <div class="col-xs-9">
                                    <a class="cls_item_menu_hover" (click)="fn_muestra_menu_dama()">Dama</a>
                                </div>
                                <div class="col-xs-3">
                                    <a class="cls_item_menu_hover" (click)="fn_muestra_menu_dama()">
                                        <span *ngIf="!muestra_menu_dama">
                                            +
                                        </span>
                                        <span *ngIf="muestra_menu_dama">
                                            -
                                        </span>
                                    </a>
                                </div>
                            </div>


                          <div class="row" *ngIf="muestra_menu_dama">
                                  <div class="col-xs-12 ">
                                        <div class="col-xs-9">
                                            <a class="cls_sub_item_menu_hover" (click)="fn_muestra_submenu_ropa()">
                                                Ropa
                                            </a>
                                        </div>
                                        <div class="col-xs-3">
                                            <a class="cls_sub_item_menu_hover" (click)="fn_muestra_submenu_ropa()" >
                                                <span *ngIf="!muestra_menu_ropa" >
                                                    +
                                                </span>
                                                <span *ngIf="muestra_menu_ropa">
                                                    -
                                                </span> 
                                            </a>
                                        </div>
                                        

                                        <div class="row" *ngIf="muestra_menu_ropa">
                                            <div class="col-xs-12">
                                                <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,26]" >
                                                    Blusas, Playeras y Camisas
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,27]" >
                                                    Suéteres y Cardigans
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,28]" >
                                                    Jumpsuits y Vestidos
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,29]" >
                                                    Faldas y Shorts
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,30]" >
                                                    Pantalones y Pants
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,31]" >
                                                    Jeans
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,32]" >
                                                    Pijamas
                                                </a>
                                            </div>
                                        </div>
                                  </div>
                                      <div class="col-xs-12 ">
                                              
                                              

                                                <div class="col-xs-9">
                                                    <a class="cls_sub_item_menu_hover" (click)="fn_muestra_menu_calzado()" >
                                                        Calzado
                                                    </a>
                                                </div>
                                                <div class="col-xs-3">
                                                    <a class="cls_sub_item_menu_hover"  (click)="fn_muestra_menu_calzado()">
                                                        <span *ngIf="!muestra_menu_dama_calzado" >
                                                            +
                                                         </span>
                                                         <span *ngIf="muestra_menu_dama_calzado">
                                                             -
                                                        </span> 
                                                    </a>
                                                </div>


                                                <div class="row" *ngIf="muestra_menu_dama_calzado">
                                                    <div class="col-xs-12">
                                                        <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,33]" >
                                                            Tenis
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,34]" >
                                                            Flats y Mocasines
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,35]" >
                                                            Zapatos y Zapatillas
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,36]" >
                                                            Botas y Botines
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,37]" >
                                                            Sandalias 
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,38]" >
                                                            Wedges
                                                        </a>
                                                    </div>
                                                    
                                                   
                                                </div>

                                      </div>
                          
                                      
                                      <div class="col-xs-12 ">

                                            <div class="col-xs-9">
                                                <a class="cls_sub_item_menu_hover" (click)="fn_muestra_menu_accesorios()" >
                                                    Accesorios
                                                </a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a class="cls_sub_item_menu_hover" (click)="fn_muestra_menu_accesorios()">
                                                    <span *ngIf="!muestra_menu_dama_accesorios" >
                                                        +
                                                    </span>
                                                    <span *ngIf="muestra_menu_dama_accesorios">
                                                        -
                                                    </span> 
                                                </a>
                                            </div>





                                            
                                          
                                            <div class="row" *ngIf="muestra_menu_dama_accesorios">
                                                <div class="col-xs-12">
                                                    <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,39]" >
                                                        Bolsas
                                                    </a>
                                                </div>
                                                <div class="col-xs-12">
                                                    <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,40]" >
                                                        BackPacks
                                                    </a>
                                                </div>
                                                <div class="col-xs-12">
                                                    <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,41]" >
                                                        Cangureras
                                                    </a>
                                                </div>                                                
                                                <div class="col-xs-12">
                                                    <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,42]" >
                                                        Carteras
                                                    </a>
                                                </div>   
                                                <div class="col-xs-12">
                                                    <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,43]" >
                                                        Maletas
                                                    </a>
                                                </div>  
                                            </div> 
                                      </div>
                            </div>
                            
                            <hr>
                            
                            <div class="row">
                                <div class="col-xs-9">
                                    <a class="cls_item_menu_hover" (click)="fn_muestra_menu_caballero()">Caballero</a>
                                </div>
                                <div class="col-xs-3">
                                    <a class="cls_item_menu_hover" (click)="fn_muestra_menu_caballero()">
                                        <span *ngIf="!muestra_menu_caballero">
                                            +
                                        </span>
                                        <span *ngIf="muestra_menu_caballero">
                                            -
                                        </span> 
                                    </a>
                                </div>
                            </div>

                            
                            
                            <div class="row" *ngIf="muestra_menu_caballero">
                                <div class="col-xs-12 ">

                                    <div class="col-xs-9">
                                        <a class="cls_sub_item_menu_hover" (click)="fn_muestra_submenu_ropa_caballero()">
                                            Ropa
                                        </a>
                                    </div>
                                    <div class="col-xs-3">
                                        <a class="cls_sub_item_menu_hover"  (click)="fn_muestra_submenu_ropa_caballero()">
                                            <span *ngIf="!muestra_menu_ropa_cab" >
                                                +
                                            </span>
                                            <span *ngIf="muestra_menu_ropa_cab">
                                                -
                                            </span> 
                                         </a>
                                    </div>

                                    <div class="row" *ngIf="muestra_menu_ropa_cab">
                                        <div class="col-xs-12">
                                            <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,44]" >
                                                Playeras y Camisas
                                            </a>
                                        </div>
                                        <div class="col-xs-12">
                                            <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,45]" >
                                                Chamarras y Suéteres
                                            </a>
                                        </div>
                                        <div class="col-xs-12">
                                            <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,46]" >
                                                Pantalones, Bermudas y Pants
                                            </a>
                                        </div>
                                       

                                    </div>
                                </div>
                                <div class="col-xs-12 ">




                                    
                                        <div class="col-xs-9">
                                            <a class="cls_sub_item_menu_hover" (click)="fn_muestra_submenu_calzado_caballero()">
                                                Calzado
                                            </a>
                                        </div>
                                        <div class="col-xs-3">
                                            <a class="cls_sub_item_menu_hover" (click)="fn_muestra_submenu_calzado_caballero()"><span *ngIf="!muestra_menu_calzado_cab" >+
                                            </span><span *ngIf="muestra_menu_calzado_cab">-</span> 
                                            </a>
                                        </div>
                                    




                                   
                                   

                                    <div class="row" *ngIf="muestra_menu_calzado_cab">
                                        <div class="col-xs-12">
                                            <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,48]" >
                                                Sandalias
                                            </a>
                                        </div>
                                        <div class="col-xs-12">
                                            <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,49]" >
                                                Tenis
                                            </a>
                                        </div>
                                        <div class="col-xs-12">
                                            <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,50]" >
                                                Zapatos y Mocasines
                                            </a>
                                        </div>
                                        <div class="col-xs-12">
                                            <a class="cls_sub_sub_item_menu_hover" (click)="fn_muestra_menu_navegacion()" [routerLink]="['/de_passo',1,51]" >
                                                Botas y Botines
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
         
      </div>
  </div>

<!--Menu navegacion-->






