<div style="width:100%;height: 100%;position:fixed;top:0;left:0;background-color:black;opacity: 1;z-index: 200;;">

</div>

<DIV class="container" id="div_form">
    <div class="row">
        <div class="col-xs-12">            
            <div class="row" style="background-color:black;">
                    <div clasS="col-xs-12">
                            <br>
                        </div>
                <div class="col-xs-3">
                    <img src="../../../assets/img/logo_peque.png" style="height: 50px;">
                    
                </div>
                <div class="col-xs-9" style="text-align: right;color:white;font-weight: bold;font-size:30px;">
                    <p>
                        Tus Compras
                    </p>
                </div>
                <div class="col-xs-12">
                        <hr>
                    </div>
            </div>            
            <div *ngIf="muestra_grid">

                <div class="row">
                    <div class="col-xs-12 ">
                        <hr>
                    </div>
                </div>

                    <div class="row" *ngFor="let v of ventas">
                        <div class="col-xs-5">
                            <div>
                                <p><strong>Folio: {{v.folio_0}}</strong></p>
                            </div>
                            <div *ngIf="v.solo_1">
                                <div class="col-xs-12">
                                    <img onerror="this.src='../../../assets/img/productos/default.png'" src="../../../assets/img/productos/{{v.img_1}}.png" style="width: 100%;">
                                </div>
                            </div>
                            <div *ngIf="!v.solo_1">
                                <div class="col-xs-6">
                                    <img onerror="this.src='../../../assets/img/productos/default.png'" src="../../../assets/img/productos/{{v.img_1}}.png" style="width: 100%;">
                                </div>
                                <div class="col-xs-6">
                                    <img onerror="this.src='../../../assets/img/productos/default.png'"  src="../../../assets/img/productos/{{v.img_2}}.png" style="width: 100%;">
                                </div>
                                <div class="col-xs-6">
                                    <img onerror="this.src='../../../assets/img/productos/default.png'"  src="../../../assets/img/productos/{{v.img_3}}.png" style="width: 100%;">
                                </div>
                                <div class="col-xs-6">
                                    <img onerror="this.src='../../../assets/img/productos/default.png'"  src="../../../assets/img/productos/{{v.img_4}}.png" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="col-xs-12">
                                <p >Fec Venta: 02-07-2020</p>                                
                            </div>
                            <hr>
                            <div class="col-xs-6">
                                <button class="btn btn-primary" style="font-size:10px;background-color: gray;"  (click)="fn_consulta_detalle_ventas(v.folio,v.seguimiento,v.enviado)">Detalle Venta</button>
                            </div>                            
                            <div class="col-xs-6">
                                <div *ngIf="v.enviado">
                                    <a class="btn btn-primary" style="font-size:10px" href="{{v.seguimiento}}">Seguir Envío</a>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <br>
                                <p *ngIf="v.enviado">
                                    <strong>
                                        Enviado
                                    </strong>
                                </p>
                                 <p *ngIf="!v.enviado">
                                    <strong>
                                        Pendiente de Envio
                                    </strong>
                                </p>
                            </div>


                        </div>
                        <div class="col-xs-12">                            
                            <hr>
                        </div>
                    </div>




            </div>
            <div *ngIf="!muestra_grid">
                <div class="row">
                    <div class="col-xs-12 ">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-xs-12">
                            <a (click)="this.muestra_grid=true"> < Lista de Ventas</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h1>
                            Detalle de Venta.
                        </h1>
                        <hr>
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                                <br>
                        </div>
                        <div class="col-xs-4">
                            Folio Venta:
                        </div>
                        <div class="col-xs-2">
                            {{folio_venta}}
                        </div>
                        <div class="col-xs-6 text-right" *ngIf="is_enviado">
                            <a class="btn btn-primary" style="font-size:10px" href="{{link_seg}}">
                                Seguir Envio
                            </a>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12">
                                    <hr>
                            </div>
                    </div>
                    <div class="row" *ngFor="let prod of detalle_venta">
                            <div class="col-xs-4 col-sm-2">
                                    <img src="../../assets/img/productos/{{prod.nom_img}}_1.png" class="cls_img_det_venta">
                            </div>
                            <div class="col-xs-8 col-sm-10">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                    <a>
                                                        <strong>{{prod.nombre}}</strong>    
                                                    </a>
                                            </div>
                                            <div class="col-xs-12">
                                                <p><span>Marca: </span>{{prod.marca}}</p>
                                            </div>
                                            <div class="col-xs-6">
                                                <p>Talla: {{prod.talla}}</p>
                                            </div>
                                            <div class="col-xs-6">
                                                <p><span>Cant: </span>{{prod.cantidad}}</p>
                                            </div>
                                                
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="row">
                                            
                                            <div class="col-xs-12">
                                                <p>${{prod.precio_unitario | number:'1.2-2'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                        <hr>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12">
                                    <hr>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <p id="label_total_pagar">Sub Total: </p>
                            
                        </div>
                        <div class="col-xs-3">
                            <p id="label_precio">{{subtotal | number:'1.2-2'}}</p>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <p id="label_total_pagar">Costo Envio: </p>
                            
                        </div>
                        <div class="col-xs-3">
                            <p id="label_precio">{{costo_envio | number:'1.2-2'}}</p>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <p id="label_total_pagar">Total a Pagar: </p>
                            
                        </div>
                        <div class="col-xs-3">
                            <p id="label_precio">{{total_pagar | number:'1.2-2'}}</p>                        
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                                <hr>
                        </div>
                    </div>




           </div>
           
            <div class="row">
                <div class="col-xs-12 ">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</DIV>



<div class="preloader-fondo" *ngIf="cargando">    
    <div class="preloader">

    </div>
</div>


<div class="cls_error_msj" *ngIf="muestra_error">
    <p>{{msj_error}}</p>
</div>

<div class="container" style="position: fixed;bottom: 0;left: 0;z-index: 1001; width: 100%; background-color: white"> 
    <div class="col-xs-12">
        <br>
        <button class="btn btn-primary btn-block" style="font-size: 15px" [routerLink]="['/categorias']">
            Seguir comprando
        </button>
        <br>
    </div>
</div>            