#hover_ticket
{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color:black;
    opacity: 0.7;
}
#ticket
{
    background-color:white;
    position: fixed;
    top:30px;
    left: 10%;
    width: 80%;
    z-index: 101;
    padding-left: 20px;
    padding-right: 20px;
    
}

#ticket h1
{
    text-align: center;
}
#ticket p
{
    text-align: center;
}
#folio_compra
{
    display: block;
    text-align: right;
    font-weight: bold;
    color:black;
    padding-top:20px;
}
.btn-primary
{
    font-size:20px;
}

#div_cargando
{
    display: none;
}
#div_error
{
    display: none;
}
.cls_muestra_tiket
{
    display: none;
}

#div_msj_aviso_1,#div_msj_aviso,#div_msj_aviso_2     
{
    width: 90%;
    position: fixed;
    left: 5%;
    top:10%;
    z-index: 101;
    background-color: white;
    padding: 10px;
}



@media (min-width: 736px) 
{
    #div_msj_aviso_1,#div_msj_aviso,#div_msj_aviso_2     
{
    width: 40%;
    position: fixed;
    left: 30%;
    top:10%;
    z-index: 101;
    background-color: white;
    padding: 10px;
}
}