
<hr>
<div class="container-fluid">
	
        <div class="row">
			<div class="col-xs-12">
				<h1>
					Selecciona una forma de pago.
				</h1>
			</div>
			<div class="col-xs-12">
			<hr>
            </div>
            
            <div class="col-xs-12">
                <br>
			</div>  

			<div class="col-xs-12">
                <button class="btn btn-default btn-block" style="text-align: left;padding-top:20px;padding-bottom: 20px;" [routerLink]="['../pago_tarjeta']">>      Pagar con tarjeta.</button>
			</div>						
			
            <div class="col-xs-12">
                <br>
                <br>
                <br>                
			</div>
			
			<div class="col-xs-12">
                <button class="btn btn-default   btn-block" style="text-align: left; padding-top:20px;padding-bottom: 20px;" (click)="fn_guarda_venta()">>      Pagar al recibir mi producto.</button>
			</div>  

            <div class="col-xs-12">
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>                         
		</div>
		
</div>

<div class="preloader-fondo" *ngIf="cargando" >    
    <div class="preloader">

    </div>
</div>

<div class="preloader-fondo" id="div_cargando" style="display:none">    
    <div class="preloader">

    </div>
</div>

<div  *ngIf="mostrar_conf_pedido" style="width: 100%;height: 100%;position: fixed;top:0;left: 0;z-index: 100; background-color: black;opacity: 0.7;">

</div>
<div id="div_msj_aviso" *ngIf="mostrar_conf_pedido">
    <div style="width: 100%;text-align: center;">
        <img src="../../assets/img/logo_peque.png" style="width:70px;margin:0 auto" >
    </div>
    <h1>
        Folio Pedido: {{folio_compra}} 
        
        <br><br>
        Gracias por su preferencia    
        <br>
        <br>
            En breve uno de nuestros asesores de ventas se contactara con usted para coordinar tu entrega.
        <br>
        <br>
        <strong style="color:red;">
            Recuerda realizaras el pago al momento de recibir tu producto.
        </strong>
        <br>
    </h1>
    <hr>
    <button class="btn btn-primary center-block" style="margin:0 auto ;" (click)="fn_ocultar_msj()" [routerLink]="['/home']">
        Continuar
    </button>
</div>



<div style=" position: fixed;padding:10px; top: 0; right: 0;z-index: 1000; "   *ngIf="mostrar_msj_aviso_1">
    <a (click)="fn_ocultar_form_pago()" style="color: white;font-size:30px" >
        X
    </a>
  </div>


