<div class="container-fluid">
        <div class="row">
               <div class="col-xs-12">
                   <br>
                    <a [routerLink]="['/informacion_envio']">< Regresar</a>
               </div>

                    <div class="col-xs-12">
                        <hr>
                    </div>
                
               
        </div>
        <div class="row">
                <div class="col-xs-12">
                   
                    <form action="http://127.0.0.1:8000/ventas/genera_cargo/" method="POST" id="payment-form" >
                            <input type="hidden" name="token_id" id="token_id">
                            <input type="hidden" name="amount" id="amount" [(ngModel)]="amount">
                            <input type="hidden" name="description" id="description" Value="Venta Jassdel"> 
                            <div class="form-row" >
                                <div class="col-xs-12">

                                        <h1 style="background-color:red;padding-top:20px;padding-bottom:20px;text-align: center;color:white;font-size:20px">
                                                Total a Pagar: ${{total_pagar | number:'1.2-2'}}
                                            </h1>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xs-12 col-sm-6">
                                    <h4>
                                        Tarjetas Credito
                                    </h4>
                                    <img src="../../assets/img/cards1.png" style="max-width: 100%;">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                        <h4>
                                            Tarjetas de Debito
                                        </h4>
                                        <img src="../../assets/img/cards2.png" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="form-row">
                                 <div class="form-group col-xs-12">
                                        <hr>
                                 </div>
                                
                            </div>
                            <div class="form-row">
                                    <div clasS="form-group col-xs-12 col-sm-6">
                                        <label>Nombre del titular</label>
                                        <input class="form-control" type="text" placeholder="Como aparece en la tarjeta" autocomplete="off" data-openpay-card="holder_name">
                                    </div>
                                    <div clasS="form-group col-xs-12 col-sm-6">
                                            <label>Número de tarjeta</label>
                                            <input class="form-control" type="text" autocomplete="off" data-openpay-card="card_number">
                                        
                                     </div>
                                     <div clasS="form-group col-xs-12 col-sm-6">
                                            <label>Fecha de expiración</label>
                                            <div class="form-row">
                                                <div class="col-xs-6">
                                                        
                                                            <input class="form-control" type="text" placeholder="Mes" data-openpay-card="expiration_month">
                                                        
                                                  
                                                </div>
                                                <div class="col-xs-6">
                                                       
                                                            <input type="text" class="form-control" placeholder="Año" data-openpay-card="expiration_year">
                                                </div>
                                            </div>    
                                        </div>
                                        <div clasS="form-group col-xs-12 col-sm-6">
                                               <label>Código de seguridad</label>
                                               <div class="form-row">
                                                    <div class="col-xs-4">
                                                            <input type="text" class="form-control" placeholder="3 dígitos" autocomplete="off" data-openpay-card="cvv2">
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <img src="../../assets/img/cvv.png" alt="">
                                                    </div>
                                           
                                               </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                                <hr>
                                         </div>
                                        <div clasS="form-group col-xs-12 col-sm-6">
                                    
                                            <div class="form-row">
                                                    <div class="col-xs-8">
                                                            <br>
                                                        <p>Transaccion Realizada Via</p> 
                                                        
                                                     
                                                    </div>
                                                    <div class="col-xs-4">
                                                            <img src="../../assets/img/openpay.png" alt="">
                                                    </div>
                                                    <div class="col-xs-12">
                                                            <hr>
                                                    </div>
                                            </div>
                                        </div>
                                 
                                        <div clasS="form-group col-xs-12 col-sm-6">
                                             <div class="form-row">
                                                 <div class="col-xs-2">
                                                        <img src="../../assets/img/security.png" alt="">
                                                 </div>
                                                 <div class="col-xs-10">
                                                        <p>Tus pagos se realizan de forma segura con encriptación de 256 bits</p>
                                                 </div>
                                                  <div class="col-xs-12">
                                                            <hr>
                                                    </div>
                                             </div>
                                        </div>
                                   
                                        <div clasS="form-group col-xs-12 text-center">
                                                <a class="btn btn-primary" id="pay-button">Pagar</a>
                                        </div>
                                        
                            </div>
                    </form>
                </div>
        </div>

</div>

<div id="hover_ticket" class="cls_muestra_tiket">
</div>
<div id="ticket" class="container" class="cls_muestra_tiket">
    <div class="row">
        <div class="col-xs-12">
            <a id="folio_compra"></a>
        </div>
        <div class="col-xs-12">
            <h1 class="page-header">
                    Gracias por su Compra
            </h1>
        </div>
        <div class="col-xs-12">
            <p>
                En breve  recibira un correo con la confirmacion y el detalle de su compra.
            </p>
        </div>
        <div class="col-xs-12">
            <hr>           
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary btn-block" [routerLink]="['/home']">
                Aceptar
            </button>
        </div>
        <div class="col-xs-12">
            <hr>           
        </div>
    </div>
</div>


<div class="cls_error_msj" id="div_error">
    <p id="error_tarjeta"></p>
</div>




<div class="preloader-fondo" id="div_cargando">    
    <div class="preloader">

    </div>
</div>