<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 >
                       Devoluciones
                </h1>
                
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
            <div class="col-xs-12">
                <p>
                        Nuestro Sitio Web está disponible las 24 Horas del día los 365 días del año para que usted pueda realizar la compra que desee, nuestro personal de ventas estará procesando su pedido a la brevedad posible.
                        <br>
                        <br>
                        En caso de que requiera ser atendido por uno de nuestros asesores usted podrá comunicarse a los siguientes numeros  en un horarios de 9 A.M. a 6 P.M.
                        
                        <br>
                        <br>
                        &nbsp;&nbsp;&nbsp;Llamada Telefonica y WhatsApp:	(81)-1312-7511
                        <br>
                        <br>
                </p>
               
            </div>
        </div>
    </div>