<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 >
                    Costo Envio
            </h1>                    
        </div>
        <div class="col-xs-12">
                <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img src="./../../../assets/img/box-send.jpg" id="img_envio">
        </div>      
        <div class="col-xs-12 col-sm-8">
                <div class="row">
                        <div class="col-xs-12">
                            <p>
                                    Manejamos dos tarifas de envío dependiendo del monto de tu producto:
                                    <br>
                                    <br>
                                    Cuando tu compra sea menor a $800.00:
                                    <br>
                                    <br>
                            </p>
                            <p style="text-align: center;">
                                    Costo de envío = $100.00.
                                    <br>
                                    <br>
                            </p>
                            <p>
                                    Cuando tu compra sea mayor o igual a $800.00:
                                    <br>
                                    <br>
                            </p>
                            <p style="text-align: center;">
                                    Costo de envío = Gratis.
                                    <br>
                                    <br>
                            </p>
                        </div>
                    </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
                <hr>
        </div>
    </div>

</div>

