
<div class="container">
    <div class="row">
            <div class="col-xs-12" class="cls_container_posicion">
            <a [routerLink]="['/home']" class="cls_link_posicion" >Home</a><a class="cls_link_posicion">/</a>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
    
    <div class="row">
        <div class="col-xs-12">
                <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
                <img src="./../../assets/img/publicidad_buen_fin.png" id="img_publicidad_buenfin" >
        </div>
    </div>
    <div class="row">
            <div class="col-xs-12">
                    <hr>
            </div>
    </div>
    <div class="row"  style="background-color:#f2ecea;padding-top:10px;padding-bottom: 10px;">
							
            <div class="col-xs-6">
                <img src="../../assets/img/img_envio.png" class="img_envio">
                <br>
                <a class="cls_parrafo">
                    Envio gratis en compras mayores a $800.00.
                </a>
            </div>
        
            <div class="col-xs-6">
                <img src="../../assets/img/img_devolucion.png" class="img_devolucion">
                <br>
                
                <a class="cls_parrafo">
                    Envio gratis en compras mayores a $800.00.
                </a>
            </div>
        </div>
        <div class="row">
                <div class="col-xs-12">
                        <hr>
                </div>
        </div>
</div>
