

<hr>

<div class="container">
 
    <div id="mycarousel" class="carousel slide" data-ride="carousel">

    
    <ol class="carousel-indicators">

        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1" class="active"></li>        

    </ol>
    <div class="carousel-inner">
        <div class="item active">
               
               <a >
                <img src="../../assets/img/Prueba_Publicidad.png" alt="uno" style="width: 100%;"> 
            </a>
           
        </div>
        <div class="item ">
        <a href="https://listado.mercadolibre.com.mx/_CustId_476284938">
            <img src="../../assets/img/Prueba_Publicidad_2.png" alt="uno" style="width: 100%;"> 
        </a>
        <div class="container">
            <div class="carousel-caption text-left">                                   
                <p>
                    <a class="btn  btn-primary" style="font-size: 15px;" href="https://listado.mercadolibre.com.mx/_CustId_476284938" role="button">
                        Ver Mas
                    </a>
                </p>
            </div>             
        </div>
        </div>
        
    </div>
    <a href="" class="left carousel-control" href="#mycarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>  
    <a href="" class="right carousel-control" href="#mycarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">next</span>
    </a>

    </div>
</div>
<hr>
<div class="container-fluid"  >
    <div class="row" >
        <h1>Jeans</h1>
        <hr>
        <div class="col-xs-6  col-sm-3" *ngFor="let prod of jeans">
            <div class="row cls_item_resultado_busqueda"  [routerLink]="['/detalle_producto',prod.id]">
                <div class="col-xs-12">
                    <img src="../assets/img/productos/{{prod.str_id}}_1.png" class="cls_img_resultado_busqueda" >
                </div>
                <div class="col-xs-12">
                    <a class="cls_nompre_producto_resultado_busqueda">
                        {{prod.nombre}}
                    </a>
                </div>
                <div class="col-xs-12">                    
                    <a class="cls_precio_prod">
                        ${{prod.precio | number: '1.2-2'}}
                    </a>
                </div>
               
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary btn-block cls_btn_categoria"  [routerLink]="['/de_passo',1,31]">Ver todos los Jeans</button>
        </div>
    </div>

    <div class="col-xs-12">
            <hr>
    </div>
</div>

<div class="container-fluid"   >
    <div class="row">
        <h1>Blusas</h1>
        <hr>
        <div class="col-xs-6  col-sm-3" *ngFor="let prod of blusa">
            <div class="row cls_item_resultado_busqueda"  [routerLink]="['/detalle_producto',prod.id]">
                <div class="col-xs-12">
                    <img src="../assets/img/productos/{{prod.str_id}}_1.png" class="cls_img_resultado_busqueda" >
                </div>
                <div class="col-xs-12">
                    <a class="cls_nompre_producto_resultado_busqueda">
                        {{prod.nombre}}
                    </a>
                </div>
                <div class="col-xs-12">                    
                    <a class="cls_precio_prod">
                        ${{prod.precio | number: '1.2-2'}}
                    </a>
                </div>
               
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary btn-block cls_btn_categoria"  [routerLink]="['/de_passo',1,26]">Ver todas las Blusas</button>
        </div>
    </div>

    <div class="col-xs-12">
            <hr>
    </div>
</div>


<div class="container-fluid"   >
    <div class="row">
        <h1>BackPacks</h1>
        <hr>
        <div class="col-xs-6  col-sm-3" *ngFor="let prod of bolsos">
            <div class="row cls_item_resultado_busqueda"  [routerLink]="['/detalle_producto',prod.id]">
                <div class="col-xs-12">
                    <img src="../assets/img/productos/{{prod.str_id}}_1.png" class="cls_img_resultado_busqueda" >
                </div>
                <div class="col-xs-12">
                    <a class="cls_nompre_producto_resultado_busqueda">
                        {{prod.nombre}}
                    </a>
                </div>
                <div class="col-xs-12">                    
                    <a class="cls_precio_prod">
                        ${{prod.precio | number: '1.2-2'}}
                    </a>
                </div>
               
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary btn-block cls_btn_categoria"  [routerLink]="['/de_passo',1,40]">Ver todas las BackPacks</button>
        </div>
    </div>

    <div class="col-xs-12">
            <hr>
    </div>
</div>


<div class="container-fluid"   >
    <div class="row">
        <h1>Carteras</h1>
        <hr>
        <div class="col-xs-6  col-sm-3" *ngFor="let prod of carteras">
            <div class="row cls_item_resultado_busqueda"  [routerLink]="['/detalle_producto',prod.id]">
                <div class="col-xs-12">
                    <img src="../assets/img/productos/{{prod.str_id}}_1.png" class="cls_img_resultado_busqueda" >
                </div>
                <div class="col-xs-12">
                    <a class="cls_nompre_producto_resultado_busqueda">
                        {{prod.nombre}}
                    </a>
                </div>
                <div class="col-xs-12">                    
                    <a class="cls_precio_prod">
                        ${{prod.precio | number: '1.2-2'}}
                    </a>
                </div>
               
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary btn-block cls_btn_categoria" [routerLink]="['/de_passo',1,42]">Ver todas las Carteras</button>
        </div>
    </div>

    <div class="col-xs-12">
            <hr>
    </div>
</div>

<div class="preloader-fondo" *ngIf="cargando">    
    <div class="preloader">

    </div>
</div>